* {
  box-sizing: border-box;
  --brand1-hue: 30;
  --brand1-saturation: 60%;
  --brand1-lightness: 20%;
  --brand2-hue: 190;
  --brand2-saturation: 95%;
  --brand2-lightness: 30%;
  --text1: hsl(
    var(--brand1-hue),
    var(--brand1-saturation),
    var(--brand1-lightness)
  );
  --text2: hsl(
    var(--brand1-hue),
    var(--brand1-saturation),
    var(--brand1-lightness),
    0.85
  );
  --surface1: hsl(var(--brand1-hue) 6% 96%);
  --surface2: hsl(var(--brand1-hue) 6% 86%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background-color: var(--surface1);
  color: var(--text1);
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
}
input {
  border-radius: 0.5rem;
  border: 4px solid var(--text1);
  font-size: 2rem;
  height: 5.5rem;
  margin: 0.5rem 0;
  padding: 0.25rem;
  text-align: center;
  width: 5.5rem;
}
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
section {
  display: flex;
  flex-direction: column;
  width: min(95vw, 600px);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: block;
  overflow-x: auto;
  padding: 0.5em 0.75em;
  white-space: nowrap;
  text-align: left;
  border: 2px solid var(--surface2);
}
h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 4rem 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--text1);
  padding-bottom: 0.25em;
  padding-left: 0.5em;
}
img {
  height: 2rem;
  width: 2rem;
  margin: 1.5rem 0 0.5rem 0.5rem;
}
a {
  color: hsl(
    var(--brand2-hue),
    var(--brand2-saturation),
    var(--brand2-lightness)
  );
}
small {
  color: var(--text2);
  font-size: 0.8rem;
  margin: 0;
}
footer {
  margin-top: 4rem;
  padding: 1rem 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.code-wrapper {
  display: grid;
  grid-template-columns: 1fr 8ch;
  align-items: stretch;
}
.copy-button {
  background-color: var(--surface2);
  border: 2px solid var(--surface2);
  color: var(--text2);
  cursor: pointer;
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
